.copyright
    - var hexoURL = "https://hexo.io/";
    - var apolloURL = "https://github.com/pinggod/hexo-theme-apollo";
    - var repoURL = "https://github.com/lystable/infra-dx-blog";
    - var currentDate = new Date();
    - var year = currentDate.getFullYear();
    - year = year == theme.startyear ? year : theme.startyear + ' - ' + year;
    p © #{year} #[a(href=config.url)!= config.author], powered by #[a(href=hexoURL, target="_blank") Hexo] and a #[a(href=repoURL, target="_blank") heavily modified] #[a(href=apolloURL, target="_blank") hexo-theme-apollo].